@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Movies</h2>

<iframe title="deezer-widget" src= @($"https://widget.deezer.com/widget/dark{ViewBag.Music}") width="100%" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media; clipboard-write"></iframe>


<ul>
@foreach (var item in ViewBag.Music)
{
        <p>@item</p>
}
</ul>