@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Music Garden</h1>
</div>
<div class="col">
    <a href="/home/playlist">Play from a Playlist</a>
    <a href="/home/song">Search for a Song</a>
</div>
